
.venv/
__pycache__/
*.pyc
quantum-rings/training_circuits/
quantum-rings/quantathon-harness/submission.csv
quantum-rings/quantathon-harness/submission_baseline.csv

__pycache__/
*.pyc
.DS_Store
quantum-rings/quantathon-harness/oof_predictions_real_features.csv

.DS_Store
__pycache__/
*.pyc
6-NullQuake/02-Code/quantum-rings/quantathon-harness/submission.csv
